@font-face {
  font-family: SF UI Text Regular;
  font-weight: 300;
  src: url('../fonts/SFUIText/SFUIText-Regular.otf') format('woff');
}

@font-face {
  font-family: SF UI Text Bold;
  font-weight: 700;
  src: url('../fonts/SFUIText/SFUIText-Bold.otf') format('woff');
}

@font-face {
  font-family: SF UI Text Medium;
  font-weight: 400;
  src: url('../fonts/SFUIText/SFUIText-Medium.otf') format('woff');
}
